:root{
    --main-color: white;
    --main-background-color:black;
    --light-green:#4dbf00;
    --conent-color:#151515;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,body{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}
/* navbar */
.navbar{
    width: 100%;
    height: 50px;
    background-color: var(--main-background-color);
}

.navbar > .container{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    height: 100%;
    color: var(--main-color);
}
/* navbar */

/* logo */
.navbar > .container > .logo{
    flex: 1;
}

.navbar > .container > .logo .logo-title{
    color: var(--light-green);
}
/* logo */
/* menu */
.navbar > .container > .menu{
    flex: 6;
}
.navbar > .container > .menu .menu-list{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.navbar > .container > .menu .menu-list .menu-list-item{
    margin-right: 30px;
}
.navbar > .container > .menu .menu-list .menu-list-item.active{
    font-weight: 800;
}
/* menu */
/* profile */
.navbar > .container > .profile{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
} 
.profile-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-menu{
    margin: 0 20px;
}
.toggle{
    width: 42px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle-icons{
    color: goldenrod;
}
.toggle-cir{
    width: 18px;
    height: 18px;
    background-color: var(--main-background-color);
    position: absolute;
    right: 0;
    border-radius: 50%;
}
/* profile */

/* sidebar */
.sidebar{
    width: 50px;
    height: 100%;
    background-color: var(--main-background-color);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    padding-top: 60px;
}
.side-menu-icon{
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 40px;
}
/* sidebar */

/* content */
.content{
    background-color: var(--conent-color);
    min-height: calc(100vh - 50px);
    color: var(--main-color);
}
.content > .container{
    margin-left: 50px;
}

.content > .container .featured-content:first-child{
    height: 50vh;
    padding: 50px;
    background-color: tomato;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),#151515), url('./img/f-1.jpg');
}

.featured-content:nth-child(2n){
    height: 50vh;
    padding: 50px;
    background-color: tomato;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),#151515), url('./img/f-2.jpg');
}

.feat-content-title-image{
    width: 200px;
}
.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 50px  0;
}
.watch-button{
    background-color: var(--light-green);
    color: var(--main-color);
    padding: 10px 20px;
    border-radius: 10px;
    border-color: #4dbf00;
    border: none;
    font-weight: bold;
}

.movie-list{
    padding: 0px 20px;
    transform: translateX(0);
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list-items{
 display: flex;
 align-items: center;
 height: 300px;
 transform: translateX(0);
 transition: 1s all ease-in-out;
}
.movie-list-item{
     margin-inline-start: 30px;
     position: relative;
}

.movie-list-item-image{
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.movie-list-item:hover .movie-list-item-image{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}  
.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 1%;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item-desc{
    background-color: #333;
    top: 20%;
    position: absolute;
    font-size: 14px;
    padding: 10px;
    left: 0px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: var(--light-green);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 10px;
    opacity: 0;
    transition: 1s all ease-in-out;
}
.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}  
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    opacity: .5;
    cursor: pointer;
}
/* content */

[data-theme="dark"]{
    --main-color: black;
    --main-background-color:white;
    --light-green:#4dbf00;
    --conent-color:#fff;
}